{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        {% endblock %} :: Все для уборки
    </title>

    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

<header class="site-header">
    <h1>Все для уборки</h1>
</header>


{% include 'includes/side-nav.html' %}


<main>
    {% block main %}
    {% endblock %}
</main>


<footer class="site-footer">
    <p>все права бла-бла-бла</p>
</footer>

</body>
</html>