{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    {{ good.name }} :: {{ good.category.name }}
{% endblock %}

{% block main %}
    <a href="{{ good.thumbnail.url }}" target="_blank">
        <img src="{{ good.thumbnail|thumbnail_url:"third" }}" alt="{{ good.name }}">
    </a>
    <h2>{{ good.name }}</h2>
    <p class='category'>Категория: {{ good.category.name }}</p>
    <p>{{ good.description }}</p>
    <p class='not-in-stock'>

        {% if not good.in_stock %}
            Нет в наличии!
        {% endif %}

    </p>

    {% if good.tags.names.count > 0 %}
        <p>
            Теги:
            {% for name in good.tags.names %}
                {% if not forloop.first %}
                    ,
                {% endif %}
                <a href="{% url 'index' cat_id=good.category.id %}?tag={{ name }}">{{ name }}</a>
            {% endfor %}
        </p>
    {% endif %} 

    <p>
        <a href='{% url 'index' cat_id=good.category.id %}?page={{ page_num }}'>Назад</a>
    </p>
{% endblock %}
