{% extends 'base.html' %}

{% block title %}
    {{ good.name }} :: {{ good.category.name }}
{% endblock %}

{% block main %}
    <img src="{{ good.thumbnail.url }}" width="{{ good.thumbnail.width }}" height="{{ good.thumbnail.height }}" alt="{{ good.name }}">
    <h2>{{ good.name }}</h2>
    <p class='category'>Категория: {{ good.category.name }}</p>
    <p>{{ good.description }}</p>
    <p class='not-in-stock'>

        {% if not good.in_stock %}
            Нет в наличии!
        {% endif %}

    </p>
    <p>
        <a href='{% url 'index' cat_id=good.category.id %}?page={{ page_num }}'>Назад</a>
    </p>
{% endblock %}
